<style>
    td {
        padding-bottom: 20px;
    }
</style>
<div class="col-md-2">
    <table>
        <tr>
            <td><a id="users" href='@Url.Action("ShowAllUsers", "Admin")'>View User List</a></td>
        </tr>
        </tr>
        <tr>
            <td><a id="load" href='@Url.Action("CreateUser", "Admin")'>Create New User</a></td>
        </tr>
    </table>
</div>